.myimg{
    width: 400%;
}
.av{
    background: #a33270;
    background-size:cover ;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.mybtn{
    width: 70%
}
.mybtn:hover{
    width: 73%;
}