<div class="container">
  <div class="row">
    <div class="col-md-3">
        <app-profile></app-profile>
    </div>
    <div class="col-md-6 ">
      <img src="../../../../assets/choose2 (2).png" class="img-fluid myimg">
      <div class="row av">
        <div class="col-md-3">
          <a routerLink="adddif"><img src="../../../../assets/btnplus.png"class="img-fluid mybtn" ></a>
        </div>
        <div class="col-md-3">
            <a routerLink="subdif"><img src="../../../../assets/btnmin.png"class="img-fluid mybtn" ></a>
        </div>
        <div class="col-md-3">
            <a routerLink="multdif"><img src="../../../../assets/btnmult.png"class="img-fluid mybtn" ></a>
        </div>
        <div class="col-md-3">
          <a routerLink="divdif"><img src="../../../../assets/btndiv.png"class="img-fluid mybtn" ></a>
        </div>
      </div>
    </div>
  </div>
  <br><br>
</div>