<div class="mygame">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <a routerLink="/opertaions/{{id}}"><img src="../../../../assets/play2.png" class="img-fluid mybtn"></a>
      </div>
      <div class="col-md-6">
        <a routerLink="howplay"><img src="../../../../assets/howplay2.png" class="img-fluid mybtn" ></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <app-profile></app-profile>
      </div>
    </div>
  </div>
</div>  