<div class="container">
  <h3 class="text-center">
    After picking operation’s type, you must pass by easy level to pass to hard level, and you have to get over addition operation firstly.
	When you start the addition easy level, it will appear a grid contains 16 buttons, each one contains value (number), and each value is a solution of an operation statement.
•	First, operation statement will appear on top.
•	16 value will show on below of the operation statement.
•	The player will think about the solution value.
•	The player click on button, which contain the true value, solve.
•	If the answer is correct, the statement will change and the player will pass to next step, and the button which player click on will be hidden from the dash.
•	If the answer is incorrect, the statement will change and the player will pass to next step, but the button which player click on will not hide from the dash.
•	If the player finish 16 correct answer, it will appear a message “congratulations”, he has the right to pass to the hard level, and his level will increase.
•	Else ,if he does an incorrect answer/answers it will appear a message “Sorry you lost”, and he must replay the current game
•	The player must to walk systematically to understand well the type of operations.

  </h3>
</div>