/* You can add global styles to this file, and also import other style files */
body{
    background: url('./assets/1stimg.jpg') no-repeat;
    background-size:cover;
    height: 100%;
    width: 100% 
}